

  body {

    background-color: #E1C8FF;
  }

.logo {
  font-family: 'Quando', serif;
  font-size: 5em;
  line-height: 150px;
  height: 150px;
  background-color: #AB3CFF;
  text-align: center;
}

.nav ul {
  list-style: none;
  background-color: #551E7F;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Quando', serif;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #fff;


}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}
 
.nav a:hover {
  background-color: #66447F;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 

 .containermain{
    margin: auto;
    height: 800px;
    width: 80%;
   /* border: 3px solid green; */
    padding: 10px;
    background-color: #CC89FF;
      display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
 }

.group {

    display: flex;
   flex-direction: column;
    justify-content: space-between;
   }



footer ul {
  list-style: none;
  background-color: #551E7F;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer li {
  font-family: 'Quando', serif;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  border-bottom: 1px solid #fff;

}
 

footer a {
  text-decoration: none;
  color: #fff;
  display: block;

}




footer a:hover {
  background-color: #66447F;
}
 
footer a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


.thumbnails {

}


.thumbnails img {
  width: 200px;
  height: 150px;
margin-top:10px;
margin-bottom:10px;
  transition: all .2s ease-in-out;

}

.thumbnails:hover img {
  opacity: .6;
  transform: scale(.92);
}

.thumbnails:hover img:hover {
  opacity: 1;
  transform: scale(1) rotate(2deg);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}







@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
   
  }

   .containermain{
       display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
    margin: auto;
    height: 700px;
    width: 70%;
   /* border: 3px solid green; */
    padding: 10px;
    background-color: #CC89FF;
 }
.group {

   display: flex;
   flex-direction: row;
    justify-content: space-around;
  
}

  footer li {
    width: 120px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: inline-block;
    border-right:2px solid #fff;
 
  }

  footer li:last-child{
    border-right:none;
}



.thumbnails group {
  margin-right: -15px;
}


.thumbnails img {
  width: 300px;
  height: 200px;
margin:20px;
  transition: all .2s ease-in-out;
}

.thumbnails:hover img {
  opacity: .6;
  transform: scale(.92);
}

.thumbnails:hover img:hover {
  opacity: 1;
  transform: scale(1) rotate(2deg);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

}